@import "https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,500;1,400;1,700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #242424;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

li {
  list-style: none;
}
#light {
  background: linear-gradient(#d2d3d4f1 0%, #6475a8 100%);
  background-image: url("./assets/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#dark {
  /* background: linear-gradient(#404246 0%, #010e33f1 100%); */
  background-image: url("./assets/bg2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#dark .nav__link {
  color: rgb(189, 238, 10);
}
#dark .header__para,
#dark .white {
  color: rgb(255, 255, 255);
}
#dark .link__hover-effect--black::after {
  background-color: rgb(158, 238, 10);
}
#dark .blue {
  color: rgb(158, 238, 10);
}

#dark .logo {
  width: 100px;
  filter: drop-shadow(2px 1px 1px rgb(158, 238, 10));
}

canvas {
  width: 100%;
  height: 100%;
}
.row {
  width: 100%;
  max-width: 1400px;
}
.nav__wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  position: absolute;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 100px;
  filter: drop-shadow(2px 2px 2px #242424);
}
.nav__link--list {
  display: flex;
  z-index: 10;
}
a {
  text-decoration: none;
}
.nav__link {
  margin: 0 12px;
  font-size: 20px;
  font-weight: 700;
}
.container__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  margin-left: 15px;
}
.social__list {
  margin-top: 16px;
  display: flex;
}
.link__hover-effect {
  cursor: pointer;
  position: relative;
}
.link__hover-effect:after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease;
}
.link__hover-effect:hover:after {
  left: 0;
  width: 100%;
}
.link__hover-effect--white:after {
  background-color: #fff;
}
.link__hover-effect--black:after {
  background-color: #242424;
}
.social__link {
  background-color: rgb(158, 238, 10);
  color: #fff;
  font-size: 20px;
  padding: 6px;
  width: 38px;
  height: 38px;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  z-index: 3;
  box-shadow: 5px 5px 3px #020202;
}
.left {
  width: 60%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.right {
  z-index: 10;
  width: 50%;
  height: 700px;
  margin-right: -100px;
}
.stars {
  width: 100%;
  height: auto;
  position: absolute;
  inset: 0;
  z-index: 0;
}
.title-,
.title_ {
  font-size: 80px;
  margin-bottom: 12px;
  text-align: left;
  line-height: 1;
}
.white {
  color: #242424;
}
.title_ {
  display: flex;
}
#hover {
  display: inline-block;
  margin: 0 5px 0 -4px;
  transition: 200ms;
}
.space {
  margin: 0 30px 0 0;
}
#hover.title-:nth-child(even):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #06f;
  text-shadow: 0 0 1px rgb(158, 238, 10), 0 0 3px rgb(158, 238, 10), 0 0 5px rgb(158, 238, 10),
    0 0 9px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10);
}
#hover.title-:nth-child(odd):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px rgb(158, 238, 10);
  text-shadow: 0 0 1px rgb(158, 238, 10), 0 0 3px rgb(158, 238, 10), 0 0 5px rgb(158, 238, 10),
    0 0 9px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10);
}
#hover.title_:nth-child(even):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px #06f;
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px rgb(158, 238, 10),
    0 0 9px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10), 0 0 20px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10);
}
#hover.title_:nth-child(odd):hover {
  filter: blur(0.9px);
  scale: 1.1;
  -webkit-text-stroke: 1px rgb(158, 238, 10);
  text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 5px #fff, 0 0 5px rgb(158, 238, 10),
    0 0 9px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10), 0 0 20px rgb(158, 238, 10), 0 0 10px rgb(158, 238, 10);
}
.header__para {
  font-size: 30px;
  line-height: 2;
  max-width: 700px;
  font-weight: 600;
  text-shadow: 0 0 3px #020202;
}
.blue {
  color: #07f;
  text-shadow: 0 0 3px #020202;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
}

.ic__img {
  width: 20px;
  filter: invert();
}
.ic__img-- {
  font-size: 25px;
  margin: 0 10px 0 10px;
}
.ic__img- {
  width: 15px;
  margin: 0 20px;
  scale: 2;
}
.sun,
.moon {
  scale: 0.7;
}
.moon {
  position: absolute;
  top: 34%;
  left: 30%;
  transform: translate(-50%, -50%);
}
.sun {
  filter: invert(1);
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 988px) {
  .header__para {
    max-width: 100%;
  }
  .title- {
    font-size: 50px;
  }
  .container {
    flex-direction: column;
  }
}

@media (max-width: 750px) {
  .displ__none {
    display: none;
  }
  .title- {
    font-size: 70px;
  }
  .header__para {
    max-width: 90%;
    font-size: 25px;
  }
  .left {
    width: 100%;
    margin-left: 15px;
  }
}

@media (max-width: 650px) {
  .title-,
  .title_ {
    font-size: 50px;
  }
  .space {
    margin: 0 15px 0 0;
  }
  .header__para {
    font-size: 20px;
  }
  .left {
    width: 100%;
  }

  .language {
    margin: 0 18px 0 0;
  }
  .header__para {
    font-weight: 800;
    max-width: 100%;
  }
  .nav__link {
    margin: 0 5px;
  }
  .star_bg {
    background-image: url("assets/darkstars.gif");
  }
  #dark .star_bg {
    background-image: url("assets/stars.gif");
  }
}
